.exercise-selector {
  width: 100%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 1rem;
  @media (max-width: 800px) {
    grid-template-columns: 40% 40%;
  }
  @media (max-width: 500px) {
    grid-template-columns: 90%;
  }

  .card {
    min-width: 8rem;
    min-height: 8rem;
    border: white solid 2px;
  }
}